<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <h1>Sentiment Analysis</h1>
    
    <form action="/" method="POST">
        <label for="text" >Enter text:</label>
        <textarea id="text" name="text" rows="4" cols="50"></textarea>
        <br>
        <button type="submit">Analyze Sentiment</button>
    </form>

    {% if sentiment %}
    <div class="result ">
        <h2>Sentiment Result:</h2>
        <p><strong>This Text Is: </strong><i id="lable" >{{ sentiment['label'] }}</i> </p>
    </div>
    <!-- <p><strong>Score:</strong> {{ sentiment['score'] }}</p> -->
    {% endif %}
    <script src="{{url_for('static' , filename='js/script.js')}}" ></script>
</body>
</html>
